*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    background: #eee;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 230px;
    background: #fff;
    padding: 20px 15px;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: #11111131 0px 0px 15px;
    overflow: hidden;
}

.card .color {
    position: absolute;
    background: #308be0;
    width: 100%;
    height: 40%;
    left: 0;
    top: 0;
    border-radius: 0px 0px 100% 100%;
}

.card img {
    width: 150px;
    margin: auto;
    margin-top: 30px;
    z-index: 10;
}

.card h1 {
    font-size: 1.3em;
    text-align: center;
    margin: 15px 0px;
}
.card .life {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    width: 50px;
    background: #fff;
    padding: 5px;
    border-radius: 30px;
    top: 10px;
    right: 10px;
}

.card .life span {
    font-size: 12px;
}

.card .type {
    width: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 102, 255);
    padding: 4px 8px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: .6em;
    margin-bottom: 20px;
}

.card .att_deff_spp {
    display: flex;
    justify-content: space-between;
}

.card .att_deff_spp .power {
    text-align: center;
    font-weight: 600;
    font-size: .9em;
}

.card .att_deff_spp .power span {
    font-weight: 400;
    color: #444;
    font-size: .8em;
}

#btn-generate {
    background: #111;
    color: #eee;
    padding: 10px 34px;
    border-radius: 4px;
    font-size: .8em;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: .2s;
}

#btn-generate:hover {
    background: #000;
}
